.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
.contenedor > h1{
    margin: auto; 
    margin-bottom: 30px; 
}
.contador{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-top: 30px;
    margin: auto; 
    border: 1px solid black;
}
.botones{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}